.ds-wrapper {
  height: 108px;
  background: white;
  -webkit-box-shadow: 0px 2px 3px 2px rgba(229, 229, 229, 0.92);
  box-shadow: 0px 2px 3px 2px rgba(229, 229, 229, 0.92);
  border: 1 px solid #e5e5e5;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0px 24px;
}
.radio-buttons {
  border-bottom: 1px solid #e5e5e5;
  width: 80%;
}
.ds-radiobutton {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0px 18px;
}
.ds-radiobutton.active {
  background-color: #5b6bc8;
  color: white;
  border-bottom: 2px solid #485ac6;
}
.ds-radiobutton i {
  position: absolute;
  left: 18px;
  font-size: 20px;
}
.ds-radiobutton .MuiIconButton-label {
  opacity: 0 !important;
}

.ds-button {
  background: #e4e7f3;
  background: #e4e7f3;
  border: 1px solid #e4e7f3;
  border-radius: 4px;
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  width: 217px;
  padding: 0 32px;
  outline: none;
  margin-right: 20px;
  cursor: pointer;
}
.ds-button.active {
  background: #acb4d8;
}
.button-value {
  font-weight: bold;
}
.bottom-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 82px;
}

.done {
  background: #fc6c44;
  border-radius: 4px;
  color: white;
  padding: 12px 40px;
  cursor: pointer;
}

.separator {
  bottom: 79px;
  background-color: #d6d6d6;
  position: absolute;
  width: 100%;
  left: 0px;
  height: 1px;
  border: none;
}
.clear {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.82px;
  color: rgba(78, 78, 78, 0.5);
  cursor: pointer;
}
.d-flex {
  display: flex;
}
.ds-heading {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.12px;
  color: #fc6c44;
  display: inline;
}

.timewrapper {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.scrollable-container {
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  height: 155px;
  border: none;
  outline: none;
  position: relative;
  top: 42px;
}
.time.active-time {
  border-top: 3px solid #5b6bc8;
  border-bottom: 3px solid #5b6bc8;
  background-color: white;
}

.time {
  padding: 15px 0px;
  text-align: center;
  list-style: none;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.person-heading {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  font-weight: 600;
}

.persons-wrapper {
  height: 50px;
}

.persons-counter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.persons-counter .disabled {
  opacity: 0.3;
}
.date-group-wrapper {
  display: flex;
  justify-content: flex-end;
}
.value {
  margin: 0 5px;
}
.MuiIconButton-colorSecondary:hover, .MuiRadio-colorSecondary.Mui-checked {
  background-color: transparent !important;
  color: transparent!important;
}
.MuiPickersDay-daySelected:hover {
  background-color: transparent !important;
}

.test-div {
  width: 80%;
  height: 30px;
  background: red;
  overflow: scroll;
}

.inside-test {
  background: purple;
}

.MuiPickersCalendarHeader-transitionContainer .MuiTypography-root {
    font-size: 20px!important;
    line-height: 24px!important;
    letter-spacing: 0.12px!important;
    font-weight: 600!important;
}
